[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://gitee.com/fujiawei/hugo-theme-hello-friend.git
